*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.caja{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
#caja1{
    background-color: aqua;
    position: relative;
    top: 20px;
    left: 20px;
}
#caja2{
    background-color: aqua;
    position: absolute;
    top: 20px;
    left: 20px;
}
#caja3{
    background-color: aqua;
    position: sticky;
    top: 0px
}